*{
    padding: 0;
    margin: 0;
}
/* google fonts */
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}

/* sheared design  */
.btn{
    font-family:inter;
    font-size: 16px;
    font-weight: 600px;
    padding: 16px 16px ;
    color: #ffff;
    background-color:#469165;
    border: 1px solid #469165;
    border-radius: 4px;
}
.btn:hover{
    font-family:inter;
    font-size: 16px;
    font-weight: 600px;
    padding: 16px 16px ;
    color: #469165;
    border: 1px solid #469165;
    background-color:#ffff;
    border-radius: 4px;
    cursor: pointer;
    

}
.btn2 {
    font-family:inter;
    font-size: 16px;
    font-weight: 600px;
    padding: 16px 16px ;
    color: #ffff;
    background-color:transparent;
    border: 1px solid #ffffff;
    border-radius: 4px;
    margin-left: 20px;
}
.btn2:hover{
    font-family:inter;
    font-size: 16px;
    font-weight: 600px;
    padding: 16px 16px ;
    color: #469165;
    border: 1px solid #469165;
    background-color:#ffff;
    border-radius: 4px;
    cursor: pointer;
}

/* sheared design  */

header{
    padding: 20px;

}
.nav-bar{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar img{
  width:139px;
  height: 60px;
    
}
.nav-bar .menu{
    list-style-type: none;
    display: flex;
    gap: 32px;
  
}
.nav-bar .menu a{
    text-decoration: none;
    color:#000000;
    font-size: 16px;
    font-weight: 500px;
}

/* hero section design start */

#hero{
    background-image:url(../images/hero-bg.png);    
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    height: 600px;
    padding-top: 200px;
}
#hero .hero-container{
    width:71%;
    max-width: 1140px;
    margin: 0 auto;  
    text-align: center;
}

.hero-icon {
    text-align: center;
}
.hero-icon button {
    color: #469165;
    background-color: #ffff;
    border: none;
    border-radius: 50px;
    padding: 8px 25px;
    font-size: 18px;
    font-weight:700px;
}
.hero-icon i{
    margin-right: 6px;
    padding: 5px 3px;
    background-color:#caffe0;
    border: none;
    border-radius: 40px;
}

.hero-container h1 {
    color: #ffff;
    font-size: 75px;
    font-weight:800px;
    text-transform: capitalize;
    margin: 16px 0 ;
}

.green-color{
    color: #30B868;
}

.hero-container p {
    color: #ffff;
    font-size: 16px;
    font-weight:400px;
    text-transform: capitalize;
    margin: 20px 0 ;
    line-height:40px;
}
/* end */
#notes{
    margin-top: 100px;
}
#notes .notes-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}
.notes-container h2 {
    color: #001931;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}
.notes-container p{
    font-size: 16px;
    font-weight:400px;
    margin-bottom: 16px;
    color: #888888;
}
.notes-container h4 {
    color: #001931;
    font-size: 22px;
    font-weight:600px;
    margin:16px 0px;
}

#notes .notes-section{
    display: flex;
    gap: 24px;
    margin: 50px 0;
}

.section-card {
    width: 240px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 70px 10px;
    border: none;
    border-radius: 10px;
}
.section-card img {
    background-color: #F95555;
    padding: 14px;
    border: none;
    border-radius: 50px;
}
/* end */

/* start The Solution */
#solution{
    margin: 100px 0px;
}
#solution .solution-container{
    width: 71%;
    max-width: 1140px;
    display: flex;
    margin:0 auto;
    gap: 60px;
    align-items: center;
}
.solution-content h2{
    color: #001931;
    font-size: 45px;
    font-weight: 700px;
    margin-bottom: 16px;
}
.solution-content p{
    font-size: 16px;
    font-weight:400px;
    margin-bottom: 16px;
    color: #000000;
}
.solution-content li{
    font-size: 16px;
    font-weight:400px;
    list-style-type:none;
    line-height: 35px;
}
.solution-content img {
    margin-right: 10px;
    vertical-align: middle;
}

/* end */
#early-access{
    margin: 100px 0;

}
#early-access .early-container{
    background-color: #F7F6F2;
    width: 71%;
    max-width: 1140px;
    margin:0 auto;
    padding: 70px 40px;
    text-align: center;
    border: none;
    border-radius: 12px;
}
.early-container h2{
    color: #001931;
   font-size: 40px;
    font-weight:bold;

    margin-bottom: 16px;
}
.early-container p{
    font-size: 16px;
    line-height: 24px;
    font-weight:400px;
    margin:24px 15px;
    color: #000000;
}
footer{
    background-color: #001931;
}
.footer-section{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;   
    padding: 80px 0; 

}
.ftr-card{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.ftr-content p{
    font-weight: 500px;
    color: #ffff;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.social-icons i{
    color: #000000;
    background-color: #ffffff;
    border: none;
    border-radius: 50px;
    padding: 7px 5px;    
    margin-left: 10px;
}
hr{
    border: 1px solid #012f5a;
}
.copyriht{
    font-weight: 500px;
    color: #ffff;
    font-size: 20px;
    margin-top:50px;
    text-align: center;
}
